2013-05-03-1.1.0/modules/pluto-module-fsm/src/main/resources/META-INF/fsm.xsd

<?xml version="1.0"  encoding="UTF-8"  standalone="no"?>
<xsd:schema xmlns="http://www.clican.com/spring/fsm"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.clican.com/spring/fsm"
	elementFormDefault="qualified" attributeFormDefault="unqualified">


	<xsd:annotation>
		<xsd:documentation>  
             <![CDATA[This schema is used for Fininate State Model spring bean parser.]]>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="deploy">
		<xsd:annotation>
			<xsd:documentation>  
	                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="url" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="state">
		<xsd:annotation>
			<xsd:documentation>  
	                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent mixed="true">
				<xsd:extension base="stateType">
					<xsd:attribute name="clazz" type="xsd:string" use="optional"></xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="start">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="stateType">
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="end">
		<xsd:annotation>
			<xsd:documentation>  
	                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="stateType">
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="decision">
		<xsd:annotation>
			<xsd:documentation>  
	                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="stateType">
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="task">
		<xsd:annotation>
			<xsd:documentation>  
	                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="stateType">
					<xsd:attribute name="assignees" type="xsd:string"
						use="required"></xsd:attribute>
					<xsd:attribute name="taskName" type="xsd:string" use="optional"></xsd:attribute>
					<xsd:attribute name="taskType" type="xsd:string" use="optional"></xsd:attribute>
					<xsd:attribute name="clazz" type="xsd:string" use="optional"></xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="stateType" mixed="true">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="stateListener" type="listenerType"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="taskListener" type="listenerType"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="timeoutListener" type="timeoutListenerType"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="param" type="paramType" minOccurs="0"
					maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="nextCondStates" type="nextCondStatesType"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
		<xsd:attribute name="value" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="propagation" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="nextStates" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="previousStates" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="listenerType" mixed="true">
		<xsd:sequence>
			<xsd:element name="param" type="paramType" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>  
                             <![CDATA[]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="clazz" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="listener" type="xsd:string" use="optional">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="timeoutListenerType" mixed="true">
		<xsd:sequence>
			<xsd:element name="param" type="paramType" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>  
                             <![CDATA[]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="clazz" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="listener" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="startTime" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="dueTime" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="repeatTime" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="repeatDuration" type="xsd:string"
			use="optional">
		</xsd:attribute>
		<xsd:attribute name="businessCalendarName" type="xsd:string"
			use="optional">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="paramType" mixed="true">
		<xsd:attribute name="paramName" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="paramValue" type="xsd:string" use="optional">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="nextCondStatesType" mixed="true">
		<xsd:attribute name="expr" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="nextStates" type="xsd:string" use="optional">
		</xsd:attribute>
	</xsd:complexType>





</xsd:schema>