tags/ios/2013-05-03-1.1.0/modules/pluto-module-dataprocess/src/main/resources/META-INF/dataprocess.xsd

<?xml version="1.0"  encoding="UTF-8"  standalone="no"?>
<xsd:schema xmlns="http://www.clican.com/spring/dataprocess"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.clican.com/spring/dataprocess"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>  
             <![CDATA[This schema is used for Data Processor Model spring bean parser.]]>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="deploy">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="url" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="propertyResources" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="partition">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="partition" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="partitionListName" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="inputVarName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="outputVarName" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="serviceName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="partitionProcessors" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="timer">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="cronExpression" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="startTime" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="endTime" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="timerProcessors" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="taskScheduler" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="concurrent" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="stepCommit" type="xsd:boolean"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="excel">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="write" type="excelWriteBean"
					minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="read" type="excelReadBean" minOccurs="0"
					maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="excelWriteBean">
		<xsd:attribute name="paramName" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="sheetName" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="columns" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="columnsVarName" type="xsd:string"
			use="optional">
		</xsd:attribute>
		<xsd:attribute name="sheetVarName" type="xsd:string"
			use="optional">
		</xsd:attribute>
		<xsd:attribute name="resource" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="resourceVarName" type="xsd:string"
			use="optional">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="excelReadBean">
		<xsd:attribute name="resultName" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="sheetName" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="resource" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="typeMap" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="sheetVarName" type="xsd:string"
			use="optional">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="ibatis">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="exec" type="ibatisExecBean"
					minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="sqlMapClient" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ibatisExecBean">
		<xsd:attribute name="statement" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="insertStatement" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="updateStatement" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="ibatisExecType" type="xsd:string"
			use="required">
		</xsd:attribute>
		<xsd:attribute name="paramName" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="paramNameMap" type="xsd:string"
			use="optional">
		</xsd:attribute>
		<xsd:attribute name="batch" type="xsd:boolean" use="optional">
		</xsd:attribute>
		<xsd:attribute name="keyProp" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="valueProp" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="resultName" type="xsd:string" use="optional">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="jdbc">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="exec" type="jdbcExecBean" minOccurs="1"
					maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="jdbcTemplate" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="jdbcExecBean" mixed="true">
		<xsd:attribute name="sql" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="singleRow" type="xsd:boolean">
		</xsd:attribute>
		<xsd:attribute name="clazz" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="paramName" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="paramNameMap" type="xsd:string"
			use="optional">
		</xsd:attribute>
		<xsd:attribute name="batch" type="xsd:boolean" use="optional">
		</xsd:attribute>
		<xsd:attribute name="resultName" type="xsd:string" use="optional">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="params">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="param" type="paramBean" minOccurs="1"
					maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="paramBean">
		<xsd:attribute name="paramName" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="paramValue" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:string" use="required">
		</xsd:attribute>
		<xsd:attribute name="override" type="xsd:string" use="optional">
		</xsd:attribute>
		<xsd:attribute name="pattern" type="xsd:string" use="optional">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="mvel">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="resultName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="bean">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="resultName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="bean" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dpl">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="resultName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="dplStatement" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="clazz" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="singleRow" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="traces" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="collectionIterator">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="collectionName" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="elementName" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="iteratorProcessors" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="stepCommit" type="xsd:boolean"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="mapIterator">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="mapName" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="elementName" type="xsd:string"
				use="required"></xsd:attribute>
			<xsd:attribute name="iteratorProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="for">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="nextDataProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="iteratorProcessors" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="start" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="end" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="step" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="elementName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="stepCommit" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="condition">
		<xsd:annotation>
			<xsd:documentation>  
                 <![CDATA[]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:element name="cond" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>  
                             <![CDATA[]]>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="true">
						<xsd:attribute name="expr" type="xsd:string" use="required"></xsd:attribute>
						<xsd:attribute name="nextDataProcessor" type="xsd:string"></xsd:attribute>
						<xsd:attribute name="exception" type="xsd:string"></xsd:attribute>
						<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="startProcessor" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="cloneContext" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="propagations" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="x" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="y" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="width" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="height" type="xsd:int"></xsd:attribute>
			<xsd:attribute name="desc" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="transaction" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>